@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');


body {
    font-family: 'Gulzar', serif;
    font-size: large;
}

#logo {
    position:relative;
    text-align:center;
    padding-left: 500px;
}

.header {
    length: 80px;
    text-align: center;
}

#presentation {
    position:relative;
    top: 50px;
    text-align: justify;
    text-align: center;
    font-size:larger;
    background-color: rgb(177, 172, 154);
}

#today {
    position:relative;
    text-align:center;
    text-align:justify;
}

.title {
    font-size: x-large;
}

.border {
    border: 0.5px solid black;
    border-radius: 5px;
    border-top-color:rgb(196, 128, 39);
    margin: 50px;
    padding: 20px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

b {
    font-size:x-large;
    color:burlywood;
}

footer {
    position:relative;
    bottom: 0px;
    width: 100%;
    height: 60px;
    
}